# binary files and archives
*.o
*.a
*.so
*.out
*.tar.*
*.zip

# build/staging/deps directories
.bld/
.build/
bld/
build/
deps/*
sdeps/
stage/

# meson subprojects caching
subprojects/packagecache/
subprojects/.wraplock
