# binary files and archives
*.o
*.a
*.so
*.out
*.tar.*

# compress files
*.zip
*.gz
*.xz
*.bz2
*.lz
*.zst
*.zstd
*.Z

# compressed archives
*.tgz
*.txz
*.tbz2
*.tlz
*.tzst
*.tz

# build/staging/deps directories
.bld/
.build/
bld/
build/
deps/*
sdeps/
stage/

# meson subprojects caching
subprojects/cpr/
subprojects/libgit2/
subprojects/tomlplusplus/
subprojects/mbedtls/
subprojects/packagecache/
subprojects/.wraplock

# binaries
vendr
vendr.static

# nix results
result
